$thin-border: thin solid var(--boardBorder);

.playing {
    $thin-border: thin solid var(--playingBoardBorder);
    .board-container {
        .board {
            background-color: var(--playingBoardBackground);
            border: var(--playingBoardBorderStyle);
            box-shadow: var(--playingBoardShadowStyle);
        }

        .center {
            &::before,
            &::after {
                background-color: var(--playingBoardBorder);
            }
        }
    }

    .inner-square {
        background-color: var(--playingBoardSquareBackground);
    }

    .square-0,
    .square-1,
    .square-3,
    .square-4 {
        border-right: $thin-border;
        border-bottom: $thin-border;
    }

    .square-2,
    .square-5 {
        border-bottom: $thin-border;
    }

    .square-6,
    .square-7 {
        border-right: $thin-border;
    }
}

.board-container {
    position: relative;
    margin: 0 auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    .board {
        transition: all 0.3s ease;
        position: relative;
        width: 80vw;
        height: 80vw;
        max-width: calc(70vh - 100px);
        max-height: calc(70vh - 100px);
        border-radius: 5px;
        background-color: var(--boardBackground);
        border: var(--boardBorderStyle);
        box-shadow: var(--boardShadowStyle);
    }

    .keybindings-notice {
        font-size: 14px;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 15px;
            background-color: var(--boardBorder);
        }

        &::before {
            transform: translateX(-50%);
        }

        &::after {
            transform: translateX(-50%) rotate(90deg);
        }
    }
}

.playing {
    .board {
        max-width: 80vh;
        max-height: 80vh;
    }
}

.square {
    flex: 1 0 auto;
    position: relative;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.inner-square {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-color: var(--boardSquareBackground);
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.highlighted .inner-square {
    opacity: 1;
}

.square-0,
.square-1,
.square-3,
.square-4 {
    border-right: $thin-border;
    border-bottom: $thin-border;
}

.square-2,
.square-5 {
    border-bottom: $thin-border;
}

.square-6,
.square-7 {
    border-right: $thin-border;
}

.row {
    display: flex;
}
