html {
    background-color: var(--background);
    color: var(--textBackground);
    font-family: "Roboto", sans-serif;

    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
}

.app-container {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    .app {
        height: 100%;
        max-width: 1250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding: 30px;
    }
}

.flex-row {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
